@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.custom-tooltip {
  background: "#E60000" !important;
  color: "#ffff" !important;
  border: "none" !important;
}
